/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
  height: 100vh;
  width: 100vw;
}

p {
  display: block;
}

.app {
  position: relative;
}

/* NavBar */
.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  width: 100vw;
  box-sizing: border-box;
  height: 72px;
  position: sticky;
  top: 0;
  box-shadow: 0 1px 4px black;
  background-color: #ffffff;
  padding: 0 16px;
}

.navbar-logo {
  font-family: 'Contrail One', cursive;
  color: darkslategrey;
  font-size: 64px;
  margin-left: 32px;
}

.navbar__inner {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 32px;
}

.navbar__user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
}

.navbar__user img {
  height: 48px;
  border-radius: 32px;
}

.navbar__user a {
  color: cadetblue;
  text-decoration: none;
}

.navbar__user a:hover {
  filter: brightness(0.6);
}

/* Parallax Image */

.bg__container {
  position: relative;
  width: 100%;
  font-family: 'Contrail One', cursive;
}

.bg__header--container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.bg__header--title {
  position: absolute;
  z-index: 10;
  text-shadow: 0 0 8px black;
  font-size: 200px;
  color: white;
}

.bg__header--subtitle {
  position: absolute;
  font-size: 40px;
  color: white;
}

.bg__img {
  z-index: 0;
  height: 680px;
  width: 100vw;
  margin-bottom: -24px;
  object-fit: cover;
}

/* Desc */

.desc__container {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100%; 
  background-color: white;
}

.desc__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 0;
  width: 100%;
}

.desc__header--info {
  display: flex;
  padding: 24px;
  justify-content: center;
  flex-direction: column;
  flex: 2;
}

.desc__header--info-title {
  font-size: 64px;
  color: darkcyan;
  padding: 24px;
}

.desc__header--info-desc {
  padding: 0 24px;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}

.desc__header--imgwrap {
  flex: 1;
  display: flex;
  justify-content: center;
}

.desc__header--img {
  height: 280px;
  object-fit: contain;
}

.desc__divider {
  width: 100%;
  height: 60px;
  background-image: -webkit-linear-gradient(150deg, rgb(0, 89, 149) 50%, rgb(141, 198, 255) 50%);
}

/* Normal body version */

.desc__body {
  display: flex;
  flex-direction: column;
  padding: 32px 0 16px 0;
}

.desc__body--quote {
  font-family: 'Open Sans', sans-serif;
  font-size: 18;
  line-height: 1.5em;
  font-style: italic;
  margin: 0 48px;
  padding: 16px 16px;
  background: #f1f1f1;
}

.desc__body--text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16;
  line-height: 1.5em;
  padding: 32px 48px;
}

/* Grid body version */

.desc__body-grid {
  display: flex;
  padding: 32px 0;
  background: white;
}

.desc__item {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.desc__item-title {
  padding: 16px;
  font-size: 32px;
  color: darkcyan;
  align-self: center;
}

.desc__item-desc {
  padding: 16px 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  align-self: center;
}

.desc__item-img {
  height: 300px;
  margin: 12px 0;
  object-fit: contain;
}

.desc__item--icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.desc__item--icon {
  height: 40px;
  padding: 0 8px;
}

/* About */

.about__container {
  background-color: darkslategrey;
  display: flex;
  flex-direction: row;
  padding: 32px;
  padding-top: 48px;
  justify-content: space-between;
}

.about__header {
  color: white;
  font-size: 60px;
  align-self: center;
  padding-bottom: 32px;
}

.about__help {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about__help-list {
  color: white;
  font-family: 'Open Sans', sans-serif;
  align-self: center;
}

.about__help-list p {
  margin: 16px 0;
  font-size: 18px;
}

.about__help-list p a {
  color: rgb(114, 189, 255)
}

.about__help-list p a:hover {
  filter: brightness(0.6);
}

.about__code {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__code--img {
  height: 320px;
  object-fit: contain;
}

/* Helpers */

.darken {
  filter: brightness(0.6);
}

.small {
  height: 200px;
}

.italics {
  font-style: italic;
}
